.main {
    padding: 25px 40px 20px 40px;
}

.add_book_form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.errors {
    color: #DC143C;
    font-size: 16px;
}

.tables {
    display: flex;
    gap: 90px;
    align-items: flex-start;
}

table {
    color: black;
    font-size: 16px;
}

table td:nth-child(1) {
    padding: 12px 5px 12px 10px;
    width: 15%;
    background: #B0C4DE;
}

table td:nth-child(2) {
    padding: 12px 5px 12px 10px;
    width: 35%;
    background: white;
}

.add_book_form label {
    color: black;
    font-size: 16px;
}

.add_book_form input[type=text] {
    padding: 8px 12px 8px 20px;
    width: 350px;
    background: white;
    border: 1px solid #a7acb1;
    border-radius: 4px;
    color: black;
    font-size: 16px;
}

.add_book_form input[type=file] {
    color: black;
}

.add_book_form input[type=number] {
    padding: 8px 12px 8px 20px;
    width: 200px;
    background: white;
    border: 1px solid #a7acb1;
    border-radius: 4px;
    color: black;
    font-size: 16px;
}

.add_book_form input[type=checkbox] {
    margin: 0px 5px 0px 0px;
    height: 15px;
    width: 15px;
}

.add_book_form input[type=checkbox]:hover + label {
   color: SlateGray;
   cursor: pointer;
}

.add_book_form input[type=submit] {
    padding: 7px 10px 7px 10px;
    width: 160px;
    border-radius: 10px;
    background: #B0C4DE;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.book_inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book_photos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.authors {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first_author {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.author_inputs {
    display: flex;
    gap: 10px;
}

.author_photos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.author_inputs input[type=text] {
    width: 200px;
}

.added_author_inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.added_author {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.plus {
    margin: 0px 0px 10px 0px;
    height: 18px;
    width: 18px;
}

.plus img {
    height: 100%;
    width: 100%;
}

.genre-parent {
    margin: 4px 0px 4px 0px;
    display: flex;
}

.filter__genre-list-children {
    margin: 2px 0px 2px 0px;
}

.filter__genre-list-children-child {
    padding: 0px 0px 0px 15px;
    margin: 2px 0px 2px 0px;
    display: flex;
}
