.header__search {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header__search input {
    padding: 8px 12px 8px 40px;
    width: 400px;
    background: white;
    border: 1px solid #a7acb1;
    border-radius: 4px;
    color: #6d7175;
    font-size: 15px;
}

.main {
    padding: 25px 40px 20px 40px;
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    flex-direction: column;
}

.description__title {
    text-align: center;
    color: #173F5F;
    font-size: 40px;
    font-weight: bold;
}

.description__details {
    padding: 30px 0px 0px 0px;
    display: flex;
    justify-content: space-between;

}

.description__image-wrap {
    height: 550px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.description__image {
    height: 100%;
    width: 400px;
}

.description__image img {
    height: 100%;
    width: 100%;
}

.description__image-list {
    height: 100%;
    width: 30%;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.description__image-list-item {
    height: 200px;
    width: 150px;
}

.description__image-list img {
    height: 100%;
    width: 100%;
}

.description__details-text {
    padding: 20px 40px 20px 40px;
    height: 100%;
    width: 800px;
    background: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 10px;
    color: black;
    font-size: 18px;
}

.instances {
    margin: 15px 0px 15px 0px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.instances__caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instances__caption-title {
    color: #173F5F;
    font-size: 23px;
    font-weight: bold;
}

.instances__caption-add_instance-button {
    padding: 7px 9px 7px 9px;
    background: #F6F6F7;
    border: 2px solid #B0C4DE;
    border-radius: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #173F5F;
    font-size: 16px;
    font-weight: bold;
}

.instances__caption-add_instance-button:hover {
    background: #B0C4DE;
    color: #173F5F;
}

.instances__caption-add_instance-button-image {
    height: 15px;
    width: 15px;
}

.instances__caption-add_instance-button-image img {
    height: 100%;
    width: 100%;
}

table {
    width: 100%;
}

thead {
    background: #B0C4DE;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

thead th {
    padding: 8px 13px 8px 13px;
    border-bottom: 1px solid #F6F6F7;
}

thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 30%;
}

thead th:nth-child(4) {
    width: 20%;
}

thead th:nth-child(5) {
    width: 10%;
}

thead th:nth-child(6) {
    width: 10%;
}

tbody {
    background: white;
    color: black;
    font-size: 16px;
}

tbody tr:hover {
    background: #F6F6F7;
    cursor: pointer;
}

tbody th {
    padding: 7px 5px 7px 10px;
    border-bottom: 1px solid #F6F6F7;
    border-top: 1px solid #F6F6F7;
}

.add_to_cart_button {
    padding: 3px 5px 3px 5px;
    background: white;
    border: 2px solid #B0C4DE;
    border-radius: 7px;
    color: #173F5F;
    font-size: 16px;
}

.add_to_cart_button:hover {
    background: #B0C4DE;
    color: #173F5F;
}

.delete_book_instance_button {
    padding: 3px 5px 3px 5px;
    background: white;
    border: 2px solid #fadbd8;
    border-radius: 7px;
    color: #e74c3c;
    font-size: 16px;
}

.delete_book_instance_button:hover {
    background: #fadbd8;
    color:  #cb4335;
}

.instances__paginator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #173F5F;
    font-size: 19px;
    font-weight: bold;
}

.instances__paginator-arrows {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.instances__paginator-arrows-image {
    height: 35px;
    width: 40px;
}

.instances__paginator-arrows-image img {
    height: 100%;
    width: 100%;
}

.delete_book_button{
    padding: 7px 9px 7px 9px;
    width: 140px;
    background: white;
    border: 2px solid #fadbd8;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #e74c3c;
    font-size: 18px;
}

.delete_book_button:hover {
    background: #fadbd8;
    color:  #cb4335;
}
