.caption {
    padding: 25px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caption__title {
    color: #173F5F;
    font-size: 40px;
    font-weight: bold;
}

.caption__add_book {
    display: flex;
}

.caption__add_book-button {
    padding: 8px 10px 8px 10px;
    background: #F6F6F7;
    border: 2px solid #B0C4DE;
    border-radius: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #173F5F;
    font-size: 17px;
    font-weight: bold;
}

.caption__add_book-button:hover {
    background: #B0C4DE;
    color: #173F5F;
}

.caption__add_book-button-image {
    height: 15px;
    width: 15px;
}

.caption__add_book-button-image img {
    height: 100%;
    width: 100%;
}

.main {
    margin: 10px 40px 25px 40px;
    display: flex;
    justify-content: space-between;
}

.filter {
    padding: 20px 20px 20px 25px;
    width: 20%;
    height: 100%;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.filter__title {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.filter__genre {
    padding: 15px 0px 10px 0px;
}

.filter__genre-list {
    display: flex;
    flex-direction: column;
}

.filter__genre-list-parent {
    margin: 4px 0px 4px 0px;
    display: flex;
}

.filter__genre-list-children {
    margin: 2px 0px 2px 0px;
}

.filter__genre-list-children-child {
    padding: 0px 0px 0px 15px;
    margin: 2px 0px 2px 0px;
    display: flex;
}

.filter__genre-list-parent-input {
    margin: 0px 5px 0px 0px;
    width: 19px;
    height: 19px;
    border: 2px solid red;
    border-radius: 4px;
    background-color: #3CBC8D;
    color: white;
}

.filter__genre-list-parent-input:hover + label {
   color: SlateGray;
   cursor: pointer;
}

.filter__genre-list-children-child-input {
    margin: 0px 5px 0px 0px;
    width: 16px;
    height: 16px;
}

.filter__genre-list-children-child-input:hover + label {
    color: SlateGray;
    cursor: pointer;
}

.filter__genre-list-label {
    color: black;
    font-size: 17px;
}

.filter__genre-button {
    margin: 15px 0px 0px 0px;
    padding: 5px 7px 5px 7px;
    width: 100%;
    background: white;
    border: 2px solid #B0C4DE;
    border-radius: 4px;
    color: #173F5F;
    font-size: 16px;
}

.filter__genre-button:hover {
    background: #B0C4DE;
    color: #173F5F;
    cursor: pointer;
}

.books {
    width: 72%;
}

table {
    width: 100%;
}

thead {
    background: #B0C4DE;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

thead th {
    padding: 8px 13px 8px 13px;
    border-bottom: 1px solid #F6F6F7;
}

thead th:nth-child(1) {
    width: 60%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 10%;
}

thead th:nth-child(4) {
    width: 10%;
}

thead th:nth-child(5) {
    width: 10%;
}

tbody {
    background: white;
    color: black;
    font-size: 16px;
}

tbody tr:hover {
    color: SlateGray;
    cursor: pointer;
}

tbody th {
    padding: 7px 5px 7px 10px;
    border-bottom: 1px solid #F6F6F7;
    border-top: 1px solid #F6F6F7;
}

tbody th:nth-child(1) {
    text-align: left;
}

tbody th:nth-child(2) {
    text-align: left;
}

.original_title {
    color: grey;
}

.books__paginator {
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.books__paginator-links {
    display: flex;
    gap: 5px;
}

.books__paginator-links-page_num {
    padding: 6px 12px 6px 12px;
    border: 2px solid #B0C4DE;
    border-radius: 50%;
    color: #173F5F;
    font-size: 22px;
    font-weight: bold;
}

.books__paginator-links-page_num:hover {
    background: #B0C4DE;
    border: 2px solid #B0C4DE;
    color: #173F5F;
}

.books__paginator-links-page_num-selected {
    padding: 6px 12px 6px 12px;
    border-radius: 50%;
    background: #B0C4DE;
    border: 2px solid #B0C4DE;
    color: #173F5F;
    font-size: 22px;
    font-weight: bold;
}

.books__paginator-links-img {
    padding: 6px 6px 6px 6px;
    border: 2px solid #B0C4DE;
    border-radius: 50%;
    color: #173F5F;
    font-size: 22px;
    font-weight: bold;
}

.books__paginator-links-img:hover {
    background: #B0C4DE;
    border: 2px solid #B0C4DE;
    color: #173F5F;
}

.books__not_found {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.books__not_found p {
    color: black;
    font-size: 25px;
}

.books__not_found a {
    padding: 5px 7px 5px 7px;
    background: #F6F6F7;
    border: 2px solid #B0C4DE;
    border-radius: 4px;
    color: #173F5F;
    font-size: 18px;
}

.books__not_found a:hover {
    background: #B0C4DE;
}
