.header__search {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header__search input {
    padding: 8px 12px 8px 40px;
    width: 400px;
    background: white;
    border: 1px solid #a7acb1;
    border-radius: 4px;
    color: #6d7175;
    font-size: 15px;
}

.caption {
    padding: 25px 40px 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caption__title {
    color: #173F5F;
    font-size: 40px;
    font-weight: bold;
}

.caption__sign_up_readers {
    display: flex;
}

.caption__sign_up_readers-button {
    padding: 8px 10px 8px 10px;
    background: #F6F6F7;
    border: 2px solid #B0C4DE;
    border-radius: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #173F5F;
    font-size: 17px;
    font-weight: bold;
}

.caption__sign_up_readers-button:hover {
    background: #B0C4DE;
    color: #173F5F;
}

.caption__sign_up_readers-button-image {
    height: 15px;
    width: 15px;
}

.caption__sign_up_readers-button-image img {
    height: 100%;
    width: 100%;
}

.readers {
    margin: 10px 40px 25px 40px;
    min-height: 400px;
}

table {
    width: 100%;
}

thead {
    background: #B0C4DE;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

thead th {
    padding: 15px 13px 15px 13px;
    border-bottom: 1px solid #F6F6F7;
}

thead th:nth-child(1) {
    width: 15%;
}

thead th:nth-child(2) {
    width: 15%;
}

thead th:nth-child(3) {
    width: 20%;
}

thead th:nth-child(4) {
    width: 25%;
}

thead th:nth-child(5) {
    width: 25%;
}

tbody {
    background: white;
    color: black;
    font-size: 16px;
}

tbody tr:hover {
    background: #F6F6F7;
    cursor: pointer;
}

tbody th {
    padding: 9px 5px 9px 10px;
    border-bottom: 1px solid #F6F6F7;
    border-top: 1px solid #F6F6F7;
}

tbody th:nth-child(1) {
    text-align: left;
}

tbody th:nth-child(2) {
    text-align: left;
}

.original_title {
    color: grey;
}

.readers__paginator {
    margin: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #173F5F;
    font-size: 19px;
    font-weight: bold;
}

.readers__paginator-arrows {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.readers__paginator-arrows-image {
    height: 35px;
    width: 40px;
}

.readers__paginator-arrows-image img {
    height: 100%;
    width: 100%;
}

.readers__not_found {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.readers__not_found p {
    color: black;
    font-size: 25px;
}

.readers__not_found a {
    padding: 5px 7px 5px 7px;
    background: #F6F6F7;
    border: 2px solid #B0C4DE;
    border-radius: 4px;
    color: #173F5F;
    font-size: 18px;
}

.readers__not_found a:hover {
    background: #B0C4DE;
}
