<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/null.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block stylesheet %}
    {% endblock %}
    {% block title %}
        <title>Main</title>
    {% endblock %}
</head>
<body>
    <header>
        <a href="{% url 'main' %}">
            <div class="header__logo">
                <div class="header__logo-image">
                    <img src="{% static 'img/logo.svg' %}" alt="">
                </div>
                <h1 class="header__up-logo-title">Book Isle</h1>
            </div>
        </a>
        {% block search %}
        {% endblock %}
        {% if user.is_authenticated %}
            <div class="header__user">
                <p>{{ user.last_name }} {{ user.first_name }}</p>
                <a href="{% url 'sign_out' %}">
                    <div class="header__user-exit">
                        <img src="{% static 'img/exit.svg' %}" alt="">
                    </div>
                </a>
            </div>
        {% endif %}
    </header>
    <nav>
        {% block navigator %}
            {% if user.is_authenticated %}
                <a href="{% url 'main' %}">Главная</a>
                <a href="{% url 'books' %}">Книги</a>
                <a href="{% url 'readers' %}">Читатели</a>
                <a href="{% url 'cart' %}">Корзина</a>
            {% endif %}
        {% endblock %}
    </nav>
    <main>
        {% block main %}
            <section class="about">
                <div class="about__image">
                    <img src="{% static 'img/library.jpg' %}" alt="">
                </div>
                <div class="about__info">
                    <a href="{% url 'books' %}">
                        <div class="about__info-statistics">
                            <div class="about__info-statistics-image">
                                <img src="{% static 'img/book.svg' %}" alt="">
                            </div>
                            <div>
                                <h3 class="about__info-statistics-title">Количество книг в библиотеке:</h3>
                                <p class="about__info-statistics-count">{{ instance_count }}</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="about__info-statistics">
                            <div class="about__info-statistics-image">
                                <img src="{% static 'img/cross.svg' %}" alt="">
                            </div>
                            <div>
                                <h3 class="about__info-statistics-title">Количество книг на руках у читателей:</h3>
                                <p class="about__info-statistics-count">{{ not_available_instance_count }}</p>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'readers' %}">
                        <div class="about__info-statistics">
                            <div class="about__info-statistics-image">
                                <img src="{% static 'img/reader.svg' %}" alt="">
                            </div>
                            <div>
                                <h3 class="about__info-statistics-title">Количество читателей:</h3>
                                <p class="about__info-statistics-count">{{ readers_count }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
            <section class="popular">
                <h2 class="popular__title">Хиты</h2>
                <div class="popular__container">
                    {% for book in popular_books %}
                        <a href="{{ book.get_absolute_url }}">
                            <div class="popular__container-item">
                                {% for photo in book.bookphoto_set.all %}
                                    {% if forloop.first %}
                                        <div class="popular__container-item-image">
                                            <img src="{{ photo.photo.url }}" alt="">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="popular__container-item-info">
                                    <div class="popular__container-item-info-rating">
                                        <p>{{ book.count_average_rating }}</p>
                                        <div class="popular__container-item-info-rating-image">
                                            <img src="{% static 'img/star.svg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="popular__container-item-info-readers">
                                       {{ book.count_readers }} прочитали
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </section>
            <section class="income">
                    <h2 class="income__title">Доходы библиотеки</h2>
                    <div>

                    </div>
            </section>
        {% endblock %}
    </main>
    <footer>
        <div class="footer-address">
            <div class="footer-address-street">
                <div class="footer-address-street-image">
                    <img src="{% static 'img/address.svg' %}" alt="">
                </div>
                <p>г. Минск, пр-т. Дзержиского</p>
            </div>
            <div class="footer-address-metro">
                <div class="footer-address-metro-image">
                    <img src="{% static 'img/metro.svg' %}" alt="">
                </div>
                <p>Грушевка</p>
            </div>
        </div>
        <div class="footer-number">
            <div class="footer-number-image">
                <img src="{% static 'img/number.svg' %}" alt="">
            </div>
            <a href="tel:+375296741796">+375 (29) 674-17-96</a>
        </div>
        <div class="footer-email">
            <p>bookisle@mail.ru</p>
        </div>
        <div class="footer-instagram">
            <a href="https://www.instagram.com/kohan_anastasiya/" target="_blank">
                <img src="{% static 'img/instagram.svg' %}" alt="">
            </a>
        </div>
        <div class="footer-schedule">
            <div class="footer-schedule-image">
                <img src="{% static 'img/schedule.svg' %}" alt="">
            </div>
            <p class="footer-schedule-weekdays"><b>пн-пт:</b> 10:00-20:00<p>
            <p class="footer-schedule-weekends"><b>сб-вс:</b> вых.<p>
        </div>
    </footer>
</body>
</html>
